---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import GmailIcon from "../components/icons/Mail.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import NavigationMenu from "../components/NavigationMenu.astro";
---

<Layout
  title="Portafolio de Yeison Silva - Desarrollador y Programador Web"
  description="Contrata a Yeison Silva para crear tu aplicaci칩n web o mobil. Desarrollador Web. Especializado en crear aplicaciones responsive"
>
  <main class="px-4">
    <video
      class="absolute left-0 w-full top-[88px] lg:top-6 2xl:top-0 -translate-y-1/2 rotate-180 object-cover lg:-translate-y-[38.5%]"
      src="/src/assets/src_assets_blackhole.webm"
      autoplay
      loop
      muted
    >
    </video>
    <SectionContainer class="py-28 relative">
      <NavigationMenu />
      <img
        src="/src/assets/mainIconsdark.svg"
        alt="Icons"
        class="absolute sm:-right-[50px] top-14 -right-[10px] hidden sm:block sm:w-64 md:w-[40%] xl:w-[40%]"
      />

      <img
        class="rounded-full size-20 2xl:size-24 mt-16 object-contain mb-4 border-2 border-solid shadow-[0px_0px_15px_blue,0px_0px_15px_blue_inset]"
        src="/src/images/yeison.png"
        alt="Yeison Photo"
      />
      <h1
        class="max-[555px]:block max-[555px]:text-center max-[555px]:text-2xl text-indigo-200 text-lg md:text-xl lg:text-3xl xl:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy Yeison Silva
        <a
          href="https://linkedin.com/in/yeison-silva"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center max-[555px]:mt-2"
          ><Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2
        class="max-[555px]:text-sm max-[555px]:text-center text-lg md:text-xl xl:text-2xl text-wrap md:max-w-[450px] xl:max-w-[600px]"
      >
        <span>+1 a침o de experiencia.</span><span class="text-[#48dcfa]"
          >Desarrollador Frontend</span
        >. <span class="text-indigo-300">De Bogot치, Colombia</span>.<span
          class="opacity-90"
          >Especializado en dise침ar e implementar interfaces</span
        >
      </h2>
      <nav class="flex mt-8 w-[300px] 2xl:w-fit">
        <SocialPill href="https://linkedin.com/in/yeison-silva">
          <LinkedinIcon class="size-7 md:size-8" />
          <p class="max-[555px]:hidden">Linkedin</p>
        </SocialPill>
        <SocialPill href="https://linkedin.com/in/yeison-silva">
          <GitHubIcon class="size-7 md:size-8" />
          <p class="max-[555px]:hidden">GitHub</p>
        </SocialPill>
        <SocialPill href="https://linkedin.com/in/yeison-silva">
          <GmailIcon class="size-7 md:size-8" />
          <p class="max-[555px]:hidden">Gmail</p>
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-5xl font-semibold mb-10 flex gap-x-3 items-center opacity-90 mt-24"
      >
        <Briefcase class="size-10" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <h2
        class="text-5xl font-semibold mb-10 flex gap-x-3 items-center opacity-90 mt-48"
      >
        <CodeIcon class="size-10" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="sobre-mi">
      <h2
        class="text-5xl font-semibold mb-10 flex gap-x-3 items-center opacity-90 mt-56"
      >
        Un poco sobre mi
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
