---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import GmailIcon from "../components/icons/Mail.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Portafolio de Yeison Silva - Desarrollador y Programador Web"
  description="Contrata a Yeison Silva para crear tu aplicaci칩n web o mobil. Desarrollador Web. Especializado en crear aplicaciones responsive"
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full size-24 object-contain mb-4 shadow-lg shadow-blue-600/90"
        src="/src/images/yeison.png"
        alt="Yeison Photo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy Yeison Silva
        <a
          href="https://linkedin.com/in/yeison-silva"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
          ><Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>+1 a침o de experiencia.</span><span class="text-yellow-200/90"
          >Desarrollador web</span
        >. <span class="text-red-200/90">De Bogot치, Colombia</span>.<span
          class="opacity-75"
          >Especializado en dise침ar y crear aplicaciones responsive</span
        >
      </h2>
      <nav class="flex gap-4 mt-8 flelx-wrap">
        <SocialPill href="https://linkedin.com/in/yeison-silva">
          <LinkedinIcon class="size-4 md:size-6" />
          Linkedin
        </SocialPill>
        <SocialPill href="https://linkedin.com/in/yeison-silva">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="https://linkedin.com/in/yeison-silva">
          <GmailIcon class="size-4 md:size-6" />
          Gmail
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
