<article class="flex flex-col items-center justify-center space-y-4 w-6/12">
  <p class="text-2xl text-white/80 opacity-90">
    Soy un desarrollador web con más de un año de experiencia en el desarrollo
    de aplicaciones web. Me especializo en el desarrollo de interfaces de
    usuario y en la creación de aplicaciones web responsive. Me apasiona el
    desarrollo web y siempre estoy buscando aprender nuevas tecnologías y
    mejorar mis habilidades.
  </p>
</article>
