<article class="flex place-content-center mx-auto gap-5 xl:w-[93%]">
  <section
    class="flex flex-col items-center w-2/6 border border-white rounded-2xl p-10"
  >
    <p class="text-2xl text-white/80 opacity-90">
      Soy un desarrollador web con más de un año de experiencia en el desarrollo
      de aplicaciones web. Me especializo en el desarrollo de interfaces de
      usuario y en la creación de aplicaciones web responsive. Me apasiona el
      desarrollo web y siempre estoy buscando aprender nuevas tecnologías y
      mejorar mis habilidades.
    </p>
  </section>
  <section
    class="flex flex-col items-center w-2/6 border border-white rounded-2xl p-10"
  >
    <p class="text-2xl text-white/80 opacity-90">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officia
      velit nemo reiciendis porro aut dolor molestias ab aliquam! Culpa earum
      quae vel, laboriosam voluptatem placeat quis unde necessitatibus eum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, repellat
      adipisci optio quod excepturi facere velit ducimus ad, praesentium animi
      aut suscipit autem,
    </p>
  </section>
</article>
