<section
  class="grid grid-cols-2 grid-rows-1 gap-1 2xl:flex 2xl:place-content-center mx-auto gap-5 xl:w-[93%]"
>
  <article
    class="flex 2xl:flex-col items-center 2xl:w-[35%] border border-white rounded-2xl p-10"
  >
    <p class="2xl:text-lg xl:text-xs text-white/80 opacity-90">
      Soy un desarrollador web con más de un año de experiencia en el desarrollo
      de aplicaciones web. Me especializo en el desarrollo de interfaces de
      usuario y en la creación de aplicaciones web responsive. Me apasiona el
      desarrollo web y siempre estoy buscando aprender nuevas tecnologías y
      mejorar mis habilidades.
    </p>
  </article>
  <article
    class="flex 2xl:flex-col items-center 2xl:w-[35%] border border-white rounded-2xl p-10"
  >
    <p class="2xl:text-lg xl:text-xs text-white/80 opacity-90">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officia
      velit nemo reiciendis porro aut dolor molestias ab aliquam! Culpa earum
      quae vel, laboriosam voluptatem placeat quis unde necessitatibus eum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, repellat
      adipisci
    </p>
  </article>
  <article
    class="col-span-2 2xl:flex 2xl:flex-col items-center 2xl:w-[35%] border border-white rounded-2xl p-10"
  >
    <p class="2xl:text-lg xl:text-xs text-white/80 opacity-90">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officia
      velit nemo reiciendis porro aut dolor molestias ab aliquam! Culpa earum
      quae vel, laboriosam voluptatem placeat quis unde necessitatibus eum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, repellat
      adipisci optio quod
    </p>
  </article>
</section>
