<span
  class="bg-blue-950 border border-solid border-indigo-500 hover:text-gray-500 text-indigo-400 text-xs font-normal me-1 px-1 py-0.5 rounded transition transform duration-200 max-[550px]:rounded-xl max-[550px]:hover:border-y-teal-500 max-[550px]:hover:border-r-amber-300 max-[550px]:hover:border-l-red-700"
>
  <slot />
</span>
