<footer
  class="shadow backdrop-blur-lg w-full xl:w-full mb-10 border-t-[1px] h-96 border-white/30"
>
  <div
    class="max-[555px]:text-center w-full mx-auto max-w-screen-xl pt-10 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center text-yellow-200/90">
      Casi todos los derechos reservados
    </span>
    <ul
      class="max-[555px]:block max-[555px]:justify-center flex flex-wrap items-center mt-3 text-sm font-medium text-white/90 sm:mt-0"
    >
      <li>
        <a class="hover:underline me-4 md:me-6" href="#">Sobre mi</a>
      </li>
      <li>
        <a class="hover:underline me-4 md:me-6" href="#">Contacto</a>
      </li>
    </ul>
  </div>
</footer>
