<header
  class="relative z-10 top-0 flex content-center justify-center h-14 py-6 w-full xl:w-[70%] mx-auto shadow-sm rounded-lg my-5 nav-bar"
>
  <nav
    class="absolute top-[10px] flex gap-x-8 opacity-80 py-1 font-normal h-auto w-fit"
  >
    <div
      class="block justify-center content-center whitespace-nowrap isolate scale-[0.85] btn-animate mx-auto my-0 overflow-hidden rounded-lg p-0.5 font-normal"
    >
      <a
        class="relative border-[1px] border-solid shadow-[0px_0px_5px_blue,0px_0px_5px_blue_inset] py-[1px] px-3 rounded-lg text-center bg-black transition transform duration-200 hover:shadow-transparent hover:border-transparent hover:text-gray-200/85 text-sm"
        href="#top">Inicio</a
      >
    </div>
    <div
      class="block justify-center content-center whitespace-nowrap isolate scale-[0.85] btn-animate mx-auto my-0 overflow-hidden rounded-lg p-0.5 font-normal"
    >
      <a
        class="relative border-[1px] border-solid shadow-[0px_0px_5px_blue,0px_0px_5px_blue_inset] py-[1px] px-3 rounded-lg text-center bg-black transition transform duration-200 hover:shadow-transparent hover:border-transparent hover:text-gray-200/85 text-sm"
        href="#experiencia">Experiencia</a
      >
    </div>
    <div
      class="block justify-center content-center whitespace-nowrap isolate scale-[0.85] btn-animate mx-auto my-0 overflow-hidden rounded-lg px-0.5 font-normal"
    >
      <a
        class="relative border-[1px] border-solid shadow-[0px_0px_5px_blue,0px_0px_5px_blue_inset] py-[1px] px-3 rounded-lg text-center bg-black transition transform duration-200 hover:shadow-transparent hover:border-transparent hover:text-gray-200/85 text-sm"
        href="#proyectos">Proyectos</a
      >
    </div>
    <div
      class="block justify-center content-center whitespace-nowrap isolate scale-[0.85] btn-animate mx-auto my-0 overflow-hidden rounded-lg p-0.5 font-normal"
    >
      <a
        class="relative border-[1px] border-solid shadow-[0px_0px_5px_blue,0px_0px_5px_blue_inset] py-[1px] px-3 rounded-lg text-center bg-black transition transform duration-200 hover:shadow-transparent hover:border-transparent hover:text-gray-200/85 text-sm"
        href="#sobre-mi">Sobre mi</a
      >
    </div>
    <div
      class="block justify-center content-center whitespace-nowrap isolate scale-[0.85] btn-animate mx-auto my-0 overflow-hidden rounded-lg p-0.5 font-normal"
    >
      <a
        class="relative border-[1px] border-solid shadow-[0px_0px_5px_blue,0px_0px_5px_blue_inset] py-[1px] px-3 rounded-lg text-center bg-black transition transform duration-200 hover:shadow-transparent hover:border-transparent hover:text-gray-200/85 text-sm"
        href="#contact">Contact</a
      >
    </div>
  </nav>
</header>
