<header
  class="flex content-center justify-center h-20 py-8 w-full xl:w-11/12 mx-auto border border-black shadow-blue-900 shadow-sm rounded-lg my-5"
>
  <nav class="flex gap-x-12 opacity-80 font-semibold size-fit">
    <div
      class="block justify-center items-center whitespace-nowrap isolate scale-[0.9] btn-animate mx-auto my-0 overflow-hidden rounded-lg p-1 font-medium"
    >
      <a
        class="relative border-[1px] border-solid shadow-[0px_0px_5px_blue,0px_0px_5px_blue_inset] p-1 px-4 rounded-lg text-center bg-black transition transform duration-200 hover:shadow-none hover:border-transparent"
        href="#top">Inicio</a
      >
    </div>
    <div
      class="block justify-center content-center whitespace-nowrap isolate scale-[0.9] btn-animate mx-auto my-0 overflow-hidden rounded-lg p-1 font-medium"
    >
      <a
        class="relative border-[1px] border-solid shadow-[0px_0px_5px_blue,0px_0px_5px_blue_inset] p-1 px-4 rounded-lg text-center bg-black transition transform duration-200 hover:shadow-none hover:border-transparent"
        href="#experiencia">Experiencia</a
      >
    </div>
    <div
      class="block justify-center content-center whitespace-nowrap isolate scale-[0.9] btn-animate mx-auto my-0 overflow-hidden rounded-lg p-1 font-medium"
    >
      <a
        class="relative border-[1px] border-solid shadow-[0px_0px_5px_blue,0px_0px_5px_blue_inset] p-1 px-4 rounded-lg text-center bg-black transition transform duration-200 hover:shadow-none hover:border-transparent"
        href="#proyectos">Proyectos</a
      >
    </div>
    <div
      class="block justify-center content-center whitespace-nowrap isolate scale-[0.9] btn-animate mx-auto my-0 overflow-hidden rounded-lg p-1 font-medium"
    >
      <a
        class="relative border-[1px] border-solid shadow-[0px_0px_5px_blue,0px_0px_5px_blue_inset] p-1 px-4 rounded-lg text-center bg-black transition transform duration-200 hover:shadow-none hover:border-transparent"
        href="#sobre-mi">Sobre mi</a
      >
    </div>
    <div
      class="block justify-center content-center whitespace-nowrap isolate scale-[0.9] btn-animate mx-auto my-0 overflow-hidden rounded-lg p-1 font-medium"
    >
      <a
        class="relative border-[1px] border-solid shadow-[0px_0px_5px_blue,0px_0px_5px_blue_inset] p-1 px-4 rounded-lg text-center bg-black transition transform duration-200 hover:shadow-none hover:border-transparent"
        href="#contact">Contact</a
      >
    </div>
  </nav>
</header>
