<header class="flex justify-center h-20 py-8 w-full xl:w-[1120px] mx-auto">
  <nav class="flex flex-row gap-x-10 opacity-80 font-semibold size-fit">
    <div class="flex flex-row justify-center min-w-fit">
      <a
        class="border-[3px] border-solid shadow-[0px_0px_15px_blue,0px_0px_15px_blue_inset] hover:shadow-cyan-400 pl-2 pr-2 min-w-max rounded-lg text-center transition transform duration-200 hover:text-cyan-300"
        href="#top">Inicio</a
      >
    </div>
    <div class="flex flex-row justify-center min-w-fit w-28">
      <a
        class="border-[3px] border-solid shadow-[0px_0px_15px_blue,0px_0px_15px_blue_inset] hover:shadow-cyan-400 pl-2 pr-2 min-w-max rounded-lg text-center transition transform duration-200 hover:text-cyan-300"
        href="#experiencia">Experiencia</a
      >
    </div>
    <div class="flex flex-row justify-center min-w-fit w-24">
      <a
        class="border-[3px] border-solid shadow-[0px_0px_15px_blue,0px_0px_15px_blue_inset] hover:shadow-cyan-400 pl-2 pr-2 min-w-max rounded-lg text-center transition transform duration-200 hover:text-cyan-300"
        href="#proyectos">Proyectos</a
      >
    </div>
    <div class="flex flex-row justify-center min-w-fit w-24">
      <a
        class="border-[3px] border-solid shadow-[0px_0px_15px_blue,0px_0px_15px_blue_inset] hover:shadow-cyan-400 pl-2 pr-2 min-w-max rounded-lg text-center transition transform duration-200 hover:text-cyan-300"
        href="#sobre-mi">Sobre mi</a
      >
    </div>
    <div class="flex flex-row justify-center min-w-fit w-24">
      <a
        class="border-[3px] border-solid shadow-[0px_0px_15px_blue,0px_0px_15px_blue_inset] hover:shadow-cyan-400 pl-2 pr-2 min-w-max rounded-lg text-center transition transform duration-200 hover:text-cyan-300"
        href="#contact">Contact</a
      >
    </div>
  </nav>
</header>
