<header
  class="relative z-10 top-0 flex content-center justify-center h-14 py-8 w-full xl:w-[93%] mx-auto shadow-sm rounded-lg my-5 nav-bar"
>
  <nav
    class="absolute top-3 flex gap-x-12 opacity-80 py-1 font-semibold h-auto w-fit"
  >
    <div
      class="block justify-center content-center whitespace-nowrap isolate scale-[0.9] btn-animate mx-auto my-0 overflow-hidden rounded-lg p-1 font-medium"
    >
      <a
        class="relative border-[1px] border-solid shadow-[0px_0px_5px_blue,0px_0px_5px_blue_inset] py-[1px] px-4 rounded-lg text-center bg-black transition transform duration-200 hover:shadow-none hover:border-transparent hover:text-gray-200/85"
        href="#top">Inicio</a
      >
    </div>
    <div
      class="block justify-center content-center whitespace-nowrap isolate scale-[0.9] btn-animate mx-auto my-0 overflow-hidden rounded-lg p-1 font-medium"
    >
      <a
        class="relative border-[1px] border-solid shadow-[0px_0px_5px_blue,0px_0px_5px_blue_inset] py-[1px] px-4 rounded-lg text-center bg-black transition transform duration-200 hover:shadow-none hover:border-transparent hover:text-gray-200/85"
        href="#experiencia">Experiencia</a
      >
    </div>
    <div
      class="block justify-center content-center whitespace-nowrap isolate scale-[0.9] btn-animate mx-auto my-0 overflow-hidden rounded-lg p-1 font-medium"
    >
      <a
        class="relative border-[1px] border-solid shadow-[0px_0px_5px_blue,0px_0px_5px_blue_inset] py-[1px] px-4 rounded-lg text-center bg-black transition transform duration-200 hover:shadow-none hover:border-transparent hover:text-gray-200/85"
        href="#proyectos">Proyectos</a
      >
    </div>
    <div
      class="block justify-center content-center whitespace-nowrap isolate scale-[0.9] btn-animate mx-auto my-0 overflow-hidden rounded-lg p-1 font-medium"
    >
      <a
        class="relative border-[1px] border-solid shadow-[0px_0px_5px_blue,0px_0px_5px_blue_inset] py-[1px] px-4 rounded-lg text-center bg-black transition transform duration-200 hover:shadow-none hover:border-transparent hover:text-gray-200/85"
        href="#sobre-mi">Sobre mi</a
      >
    </div>
    <div
      class="block justify-center content-center whitespace-nowrap isolate scale-[0.9] btn-animate mx-auto my-0 overflow-hidden rounded-lg p-1 font-medium"
    >
      <a
        class="relative border-[1px] border-solid shadow-[0px_0px_5px_blue,0px_0px_5px_blue_inset] py-[1px] px-4 rounded-lg text-center bg-black transition transform duration-200 hover:shadow-none hover:border-transparent hover:text-gray-200/85"
        href="#contact">Contact</a
      >
    </div>
  </nav>
</header>
