<section
  class="hidden max-[555px]:block justify-center max-[555px]:absolute z-0 top-0 w-full nav-bar"
>
  <nav class="border p-4 rounded-md text-center w-full">
    <ul>
      <li
        class="mb-2 hover:bg-violet-600 border-transparent hover:border hover:border-white px-2 border-b-2 border-b-violet-600/50"
      >
        <a href="#top">Inicio</a>
      </li>
      <li
        class="mb-2 hover:bg-violet-600 rounded-lg border-transparent hover:border hover:border-white px-2"
      >
        <a href="#experiencia">Experiencia</a>
      </li>
      <li
        class="mb-2 hover:bg-violet-600 rounded-lg border-transparent hover:border hover:border-white px-2"
      >
        <a href="#proyectos">Proyectos</a>
      </li>
      <li
        class="mb-2 hover:bg-violet-600 rounded-lg border-transparent hover:border hover:border-white px-2"
      >
        <a href="#sobre-mi">Sobre mi</a>
      </li>
      <li
        class="mb-2 hover:bg-violet-600 rounded-lg border-transparent hover:border hover:border-white px-2"
      >
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
</section>
