---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/onest";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative text-white dark:text-white">
    <!-- <div
      class="fixed inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_90%)]"
    >
    </div> -->

    <div class="h-full w-full bg-black">
      <div
        class="fixed h-[100%] w-full bg-[radial-gradient(#ffffff22_1px,#060118fa_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]"
      >
      </div>
    </div>

    <Header />
    <slot />
    <Footer />

    <style is:global>
      :root {
        color-scheme: light dark;
      }
      html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
      }
      .img-gradient {
        background: linear-gradient(142deg, #060118fa 0%, #010005fc 70%);
      }
      body {
        background: #060118fa;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      .nav-bar {
        -webkit-backdrop-filter: blur(16px);
        backdrop-filter: blur(16px);
        background-color: rgba(57, 21, 103, 0.129);

        box-shadow: inset 0 0 3px #bf97ff70;
      }
      .btn-animate::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 400%;
        height: 100%;
        opacity: 0;
        background: linear-gradient(
          115deg,
          #4fcf70,
          #48dcfa,
          #652dd1,
          #1251fe,
          #44ce7b
        );
        background-size: 25% 100%;
        animation: an-start-or-stop 0.75s linear infinite;
        animation-play-state: paused;
        translate: -5% 0%;
        transition:
          translate 0.25s ease-out,
          opacity 0.175s ease-out;
      }

      .btn-animate:hover::before {
        opacity: 1;
        animation-play-state: running;
        transition-duration: 0.75s;
        translate: 0% 0%;
      }

      @keyframes an-start-or-stop {
        to {
          transform: translateX(-25%);
        }
      }
    </style>
  </body>
</html>
