---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/onest";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative text-white dark:text-white">
    <div
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <Header />
    <slot />
    <Footer />
    <style is:global>
      :root {
        color-scheme: light dark;
      }
      html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
      }
      body {
        background: #050505;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      .btn-animate::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 400%;
        height: 100%;
        opacity: 0;
        background: linear-gradient(
          115deg,
          #4fcf70,
          #48dcfa,
          #8724ce,
          #1251fe,
          #44ce7b
        );
        background-size: 25% 100%;
        animation: an-start-or-stop 0.75s linear infinite;
        animation-play-state: paused;
        translate: -5% 0%;
        transition:
          translate 0.25s ease-out,
          opacity 0.175s ease-out;
      }

      .btn-animate:hover::before {
        opacity: 1;
        animation-play-state: running;
        transition-duration: 0.75s;
        translate: 0% 0%;
      }

      @keyframes an-start-or-stop {
        to {
          transform: translateX(-25%);
        }
      }
    </style>
  </body>
</html>
